---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      
     <!-- <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg> -->
      </a> 
      <br />

     <img src="/images/ron_pic.jpg"><br />
      <p>
       I’ve built a career bridging the gaps between systems, services, technology, and people. By trade, I am an information architect, researcher, and service designer. I write and speak globally on <a href="https://consequencedesign.com">Consequence Design</a>, a discursive concept that examines the ways the human-computer interaction layer of technology has consequences on the everyday experiences of urban and civic life. <br><br>

Currently, I am the Head of Design at 18F, a federal digital services office aimed at improving the user experience of government, housed within the General Services Administration. My career journey has spanned consulting, local & state governments, and academia. Much of my work has been on micropolitan centers or extremely rural communities, adding a unique perspective on the role of the technologist-designer. <br><br>

I have had the privilege of delivering talks at the intersections of design, technology, and policy on four continents at notable events such as IxDA Oslo, An Event Apart, Confab, UXR Toronto, Rosenfield Civic Design, and SDN Global Conference. In 2023, I curated the Chimaera Portland Kunsthalle exhibition <em><a href="https://ronbronson.mmm.page/neighbors">A Parliament of Neighbors</em></a>, which explored ideas around borders, belonging, and community in an age of disinformation. In 2022, I organized a public design exhibit called <em><a href="https://www.ronbronson.design/posts/designers-share">The Designer's Share of the Problem"</a></em> for the Portland Design Festival. Previously, I founded Indianapolis Design Week and served as the event’s director until 2018. <br><br>

Currently, I serve as the President of the board of AIGA Portland. In my spare time, I coach high school tennis. I was named 4A-1A Girls Tennis Coach of the Year by the Oregon Athletic Coaches Association for 2022-23 season. In 2021-22, I served in a mayoral appointed seat of the Portland Historic Landmarks Commission.<br><br>
       </p>
    </section>

    <Hr />
<!-- 
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main> -->

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
