---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      
     <!-- <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg> -->
      </a> 
      <img src="/images/ron_pic.jpg"><br />
      <p>
      Lately, I've been working on a bevy of locally-focused projects including two public design exhibitions. In May, my show <strong><a href="https://www.ronbronson.design/posts/parliament-of-neighbors">"A Parliament of Neighbors"</a></strong> debuted at an experimental art gallery hosted at a Portland mall. Last fall, I organized a public design exhibit called <strong><a href="https://www.ronbronson.design/posts/designers-share">The Designer's Share of the Problem"</a> </strong>for the Portland Design Festival. </p>

<p>At the core of my professional philosophy lies <a href="https://consequencedesign.org">consequence design,</a> a concept I pioneered to create more responsive and inclusive digital environments, integrating human-centric and ethical considerations with the technical and strategic aspects of design.</p>

<p>I built my first website in 1994, since then, I've been working across mediums and leaning into my own interpretations of the world and connecting the dots of our own experiences. One of the challenges of the immediate present, is reflecting on the ways that society changes us as we evolve through our lives. So much of the work of pixelworkers who build digital products & services is constantly negotiating our complicity with the things we build that we might not like. </p>

<p>For me, that is manifested in examining the ways interfaces have wrought poor experiences, and the more that the interaction layer divorces us from each other, the harder it gets to relate and the worse life becomes. In general, interaction/UX/product designing/pixelworkers have not been meant to ask these sorts of questions or to interrogate the circumstances that led us to these points, instead we're more concerned with a morass of details, and left to conmplate our own place in a ecosystem that relies heavily on the buy-in that design brings to the fore, but not to leverage the rigor and framing of our training & experiences to (perhaps) better contextualize everyday experiences or to make them perhaps (slightly) more humane. </p>

<p>In my day job, I'm Head of Design at <a href"https://18f.gsa.gov">18F</a> where I lead a talented team of designers and managers across various facets of design, including product design, UX design and research, content strategy, and service design. </p>

<p>
Before joining 18F, I played a pivotal role in driving digital transformation across local, state, and federal government contexts. This mainly involved redefining websites and facilitating the integration of service design into spheres where its practice was relatively unknown. My expertise lies in information architecture, UX strategy, research, and content design.
       </p>

       

      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Current Reading:</div>
            <div id="literal-widget" handle="ron" status="IS_READING" layout="row"></div>
<script src="https://literal.club/js/widget.js"></script>

          </div>
        )
      }
    </section>

    <Hr />
<!-- 
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main> -->

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
