---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      
     <!-- <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg> -->
      </a> 
      <br />

      <p>
Multidisciplinary designer with deep roots in content strategy, service design and web development for digital transformation. Over the years, I've worked on projects for a wide array of agencies at the federal, state & local levels, in addition to the private sector. I've directed service and delivery management programs, supervised diverse teams, and championed digital transformation initiatives and lead the largest experience design departments in the federal government.  I work best substrate, helping refine ideas, bridge stakeholder groups, and have a knack for translating technical concepts to people at all levels of understanding. <br><br><br>

My personal practice melds discursive design with interaction architecture to critically examine the implications of technology and platform decay on the degradation of civic life. Lately, I've also expanded my research to the encompass the depths and nuances of generative AI platforms, and how their rapid integration into society has deep policy implications for everyday life.  <br><br><br>

I'm very invested in the idea of web pages as architecture, and like to imagine websites as transactions no different than person-to-person activities that happen everyday. It's led me to change my approach to conference talks, opting instead of hands-on "Call and response" style  speculative design activities that prompt participants to think, engage, and react to ideas that challenge our conceptions of places, policy, structures, and what the future is (and what it should be.)   <br><br><br>

My speculative design exhibit <a href="https://ronbronson.mmm.page/neighbors">"A Parliament of Neighbors"</a> debuted at the Chimaera Art Kunsthalle in May 2023. Last year, my exhibit "The Designer's Share of the Problem" was shared at Pacific Northwest College of Art, as part of the Portland Design Festival.   <br><br><br>

My design philosophy is that everything is design. Once you can concede that, we can start working from a canvas of deciding what we want things to be and how we ought to get there. I came to design through websites. I built my first website in 1994, scored my first internet startup job before I graduated high school, and I still never anticipated I'd be doing any of this for a living -- much less this long. 
       </p>
    </section>

    <Hr />
<!-- 
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main> -->

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
